/*  Name:             Mark Buster
      Date:             10-09-2024
      File Description: This file is the styles file. This is where 
                        all the styles for the entire website are implemented.
*/
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=Sixtyfour+Convergence&family=Nosifer&family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "Friday13SH";
  src: url("Fonts/Friday13SH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Friday13 Bonus NFI";
  src: url("Fonts/Friday13 Bonus NFI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Friday13v12";
  src: url("Fonts/Friday13v12.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Space Grotesk;
  color: #949292;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  background-image: url("Images/FoggyForest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


h1 a:hover {
  text-shadow: 2px 2px 10px rgba(239, 231, 231, 0.8);
}

h2 {
  font-family: "Friday13SH";
  font-weight: normal;
  color: #d4d3d3;
  text-align: center;
  font-size: 2.5em;
}

h3 {
  position: sticky;
  font-family: Nosifer;
  font-size: 2em;
  color: #f00;
}

h3 span {
  font-family: Nosifer;
  font-size: 1.01em;
  height: 64%;
  position: absolute;
  color: rgb(77, 77, 77);
  overflow: hidden;
}

footer {
  color: white;
  padding: 0.25em 0;
}

footer div {
  display: flex;
}

footer ul {
  flex-grow: 1;
  text-align: end;
}

footer li {
  padding: 0 0.5em;
}

footer ul img {
  width: 30;
  height: 30px;
}

.under-construction {
  background-image: url("Images/evildeadchainsaws.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.under-construction-banner {
  font-family: "Friday13 Bonus NFI";
  color: rgb(85, 16, 16);
  font-size: 3.5em;
  font-weight: normal;
  margin: 100px;
  display: flex;
  justify-content: center;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  color: rgba(249, 5, 5, 0.681);
}

.main-header {
  background-color: rgb(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.site-name {
  text-align: center;
  margin: 0;
  font-size: 8em;
  font-family: "Metal Mania";
  font-weight: normal;
  color: white;
}

.site-name a {
  text-decoration: none;
  font-family: "Metal Mania";
  font-weight: normal;
  color: inherit;
}

.about-section {
  margin: 1em;
  font-size: 1.2rem;
}

.about-section strong{
  font-size: 1.3em;
  font-family: "Friday13 Bonus NFI";
  font-weight: lighter;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.about-section img {
  float: left;
  height: 200px;
  margin: 15px;
  border-radius: 50%;
}

/* Home Page Picture Collage*/
.collage-container {
  height: 400px;
  margin-top: 50px;
}

.collage {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
}

.collage a {
  position: absolute;
  display: block;
}

.collage a:hover .overlay {
  opacity: 1;
}

.collage img {
  max-width: 100%;
  height: auto;
  border: 2px solid white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: url(Images/cursor-Knife.cur), auto;
}

.collage a:nth-child(1) {
  top: 0;
  left: 0;
  width: 30%;
  min-width: 150px;
  transform: rotate(-30deg);
  z-index: 1;
}

.collage a:nth-child(2) {
  left: 35%; 
  width: 30%;
  min-width: 150px;
  transform: rotate(-15deg);
}

.collage a:nth-child(3) {
  top: 35%;
  left: 5%;
  width: 30%;
  min-width: 150px;
  transform: rotate(15deg);
}

.collage a:nth-child(4) {
  top: 35%;
  left: 60%;
  width: 30%;
  min-width: 150px;
  transform: rotate(30deg);
}

.collage a:nth-child(5) {
  top: 85%;
  left: 30%;
  width: 30%;
  min-width: 150px;
  transform: rotate(15deg);
}

.collage .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(229, 5, 5); /* White text */
  font-family: "Friday13v12";
  font-size: 24px;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: 2s ease;
  cursor: url(Images/cursor-Knife.cur), auto;
}

/* Movies.html page specific */
.movies img {
  height: 300px;
  margin: 10px;
}

.movies a{
  cursor: url(Images/cursor-Knife.cur), auto;
}
